html {
    scroll-behavior: smooth;
    height: 100%;
}

body {
    margin-top: 2%;
    background: lightgray;
}

.judul {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: arial;
    font-size: 30;
}

.input {
    display: flex;
    text-align: right;
    align-items: center;
    justify-content: right;
    float: right;
    margin-right: 2%;
}

.content {
    margin-top: 3%;
    align-items: center;
    justify-content: center;
    display: flex;
}