html {
    scroll-behavior: smooth;
    height: 100%;
}

body {
    margin-top: 2%;
    background: lightgray;
}

.judul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.input {
    display: flex;
    text-align: right;
    align-items: center;
    justify-content: right;
    float: right;
    margin-right: 2%;
}

.content {
    margin-top: 3%;
    align-items: center;
    justify-content: center;
    display: flex;
}

@media only screen and (max-width: 900px) {
    .judul {
        font-size: 30px;
        padding-top: 2cm;
    }
}